.bodyc{
	background-image: url("bg1.jpg");
	background-position: top;
	background-size: cover;
    text-align: center;
}
#mycanvas{
	border: 10px solid white;
	background-color: lightblue;
	box-shadow: 0 0 40px black;
}
h1{
	color: red;
	font-size: 40px;
}
#mycanvas{
	border: 10px solid white;
	background-color: lightblue;
	box-shadow: 0 0 40px black;
}